.nav-item-right {
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #1dd79b;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    padding: 3px 12px;
    z-index: 2;
    margin-right: 10px;
  }

  button span {
    font-size: 25px;
    padding-right: 8px;
  }

  .button-hidden {
    display: none;
  }

  .user-address {
    background-color: #1dd79b;
    height: 42px;
    color: #1e2423;
  }

  .user-address:hover {
    background-color: #1ba579;
    color: white;
  }
}

.button-hidden .user-address {
  position: absolute;
  top: 5px;
}

.connect-btn {
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 5px;
}

.globe {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 16px;
  color: white;
}

.sidenav {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  flex-direction: column;
  top: 0;
  right: 0;
  z-index: 50;
  height: 100vh;
  background-color: #1e2423;
  width: 25%;
}

.close {
  font-size: 25px;
  color: white;
  cursor: pointer;
  padding-top: 15px;
  padding-left: 15px;
}

.sidenav-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;

  hr {
    color: #333935;
    height: 1.5px;
    width: 80%;
  }
}

.sidenav-item {
  width: 80%;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1.5px solid #333935;
    background-color: transparent;
    width: 100%;
    border-radius: 7px;
    font-size: 18px;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  button span {
    font-size: 28px;
    padding-right: 8px;
  }
}

.sidenav-item-disconnect {
  width: 80%;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1dd79b;
    border: 1.5px solid #1dd79b;
    background-color: transparent;
    width: 80%;
    border-radius: 7px;
    font-size: 18px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    position: absolute;
  }

  button span {
    font-size: 28px;
    padding-right: 8px;
  }
}

.disconnect-btn {
  z-index: 3;
  opacity: 0;
}

@media (max-width: 750px) {
  .sidenav {
    width: 60%;
  }
  .globe {
    margin: 0px;
  }
}
